body {
  background: url("/assets/bg.gif") repeat scroll 0 0 #EBEBEB;
  
  #messages {
      position: absolute;
      right: 20px;
      top: 50px;
  }
}

.clear {
    clear: both;
}

.block {
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 0 20px;
    -moz-box-shadow: 2px 3px 5px #555;
    -webkit-box-shadow: 2px 3px 5px #555;
    box-shadow: 2px 3px 5px #555;
    h1 {
        margin: 0 -20px 10px -20px;
        background-color: #F1F8FE;
        border-bottom: 1px solid #DADEE5;
        border-top: 1px solid #DADEE5;
        padding: 15px 20px;
        font-size: 22px;
        font-style: normal;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1.2em;
        text-transform: none;
        border-top: none;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
}

form.slim {
    margin: 0;
    padding: 0;
    input, textarea, select {
        margin: 0;
        padding: 0;
    }
}