<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @admin_field_type.label %>
</p>


<%= link_to 'Edit', edit_admin_field_type_path(@admin_field_type) %> |
<%= link_to 'Back', admin_field_types_path %>
