<div class="well" style="padding: 8px 0;">  
  <ul class="nav nav-list">
    <li class="nav-header">Settings</li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">Fields</a></li>
    <li><a href="#">Field Types</a></li>
  </ul>
  
</div>