<div class="well" style="padding: 8px 0;">  
  <ul class="nav nav-list">
    <li class="nav-header">Settings</li>
    <li><%= link_to 'Fields', admin_settings_fields_url %></li>
    <li><%= link_to 'Categories', admin_settings_categories_url %></li>
    <li><%= link_to 'Field Types', admin_settings_fieldtypes_url %></li>
  </ul>
</div>