<div class="span3">
  <%= render 'sidebar' %>
</div>
<div class="span9">
  <div class="block">
    <h1>
      Categories
      <%= link_to 'New Category', new_admin_category_url, 
          :class =>'btn btn-primary float-right new-button-category', 
          :'data-type' => 'html', 
          :remote => true %>
    </h1>
    <div id="new-form-container" style="display:none;"></div>
    <table class="table">
      <thead>
        <tr>
          <th>Label</th>
          <th>Fields</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="categories">
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>