<div class="span3">
  <%= render 'sidebar' %>
</div>
<div class="span9">
  <div class="block">
    <h1>
      Fields
      <%= link_to 'New Field', new_admin_field_url, 
          :class =>'btn btn-primary float-right new-button-field', 
          :'data-type' => 'html', 
          :remote => true %>    
    </h1>
    <div id="new-form-container" style="display:none;"></div>
    <table class="table">
      <thead>
        <tr>
          <th>Label</th>
          <th>Category</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="fields">
        <%= render @fields %>
      </tbody>
    </table>
  </div>
</div>