<section id="messages" class="alert" style="display:none;">
    <a class="close" data-dismiss="alert">×</a>
    <header><h1>This is an error message</h1></header>
    <ul>
        <li>Category cannot be blank</li>
        <li>Type cannot be blank</li>
    </ul>
</section>